.min-max-group {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
}

.min-max-group fieldset {
  font-size: small;
  padding: 0px;
  border: none;
}

.min-max-group .min-max-input {
  max-width: 80px;
  padding: 5px;
  border-radius: 10px 0 10px 0;
  color: white;
  border: 1px solid #555;
}

.pdv-search-filter input[type="text"] {
  width: 100%;
  height: auto;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  /* Garante que padding e border não aumentem o tamanho */
}

.quantity-controls input[type="number"] {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  width: 40px;
}

.pdv-search-filter input[type="text"]:focus {
  outline: none;
  border-color: #57a8ff;
  /* Destaca o input ativo */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* =================================== */
/* MEDIA QUERIES            */
/* =================================== */

/* Para telas pequenas, as colunas do grid podem ser empilhadas */
@media (max-width: 600px) {

  .grid-2-cols,
  .grid-3-cols,
  .grid-4-cols {
    display: flex;
    flex-direction: column;
  }
}