 .inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

.inputContainerDirty{
  border-color: #2563eb !important;
  background-color: #eff6ff !important;
  color: #1e40af !important;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1) !important;
  font-weight: 500;
}

/* Estado do Input quando alterado */
.inputDirty {
  border-color: #2563eb !important;
  background-color: #eff6ff !important;
  color: #1e40af !important;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1) !important;
  font-weight: 500;
  width: 100%;
}

/* Botão de Reverter */
.revertBadge {
  background-color: #eff6ff;
  color: #2563eb;
  border: 1px solid #dbeafe;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  transition: all 0.2s;
  outline: none;
}

.revertBadge:hover {
  background-color: #dbeafe;
  color: #1d4ed8;
}

.labelContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}