.botao-voltar {
    padding: 8px 15px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-size: large;
  background-color: 'transparent';
  border: 1px solid;
  border-radius: 4px;
}