.header {
    position: fixed;
    top: 0;
    background-color: rgb(94, 94, 94);
    color: white;
    text-align: center;
    z-index: 1000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s, width 0.3s;
}